body{
    background-image: url(../img/login/bg-login.png);
    color:white
}

form{
    background-color: #3083cc6c;
    width: 25rem;
    height: 25rem;
    margin: auto;
    border-radius: 5%;
    background-image: url(../img/login/vector-login.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 6%;

}

.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    color: #80006e;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.imagen{
    width: 40%;
    margin-right: 11rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

input{
    width: 70%;
    height: 1.3rem;
}
.campo{
    border-radius: 3px;
    border: none;
}

.boton{
    background-color: black;
    color: white;
    border:none;
    border-radius: 3px;
    margin-top: 2rem;
}
